<?php
/*
 * ProvisioningAPILib
 *
 * This file was automatically generated by APIMATIC BETA v2.0 on 01/06/2015
 */
// This snippet is adopted from Stripe SDK.
if (!function_exists('curl_init')) {
  throw new Exception('ProvisioningAPILib needs the CURL PHP extension.');
}
if (!function_exists('json_decode')) {
  throw new Exception('ProvisioningAPILib needs the JSON PHP extension.');
}
if (!function_exists('mb_detect_encoding')) {
  throw new Exception('ProvisioningAPILib needs the Multibyte String PHP extension.');
}

// This dependency shall be resolved by composer
require_once('packages/apimatic/unirest-php/lib/Unirest.php');

// APIMATIC Helper Files
require_once(dirname(__FILE__) . '/ProvisioningAPILib/APIHelper.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/APIException.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Configuration.php');

// Controllers
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Controllers/OrderingController.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Controllers/RegulationController.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Controllers/InventoryController.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Controllers/CDRsController.php');
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Controllers/ConfigurationController.php');

// Models
require_once(dirname(__FILE__) . '/ProvisioningAPILib/Models/Peer.php');
